@{
    ViewBag.Title = "Giới thiệu";
}
    <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">ĐỀ CƯƠNG CHUYÊN ĐỀ TỐT NGHIỆP</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            Khóa học: K49 (2015 – 2019).<br>
            Chuyên ngành: Tin học kinh tế.<br>
            Tên đề tài thực hiện: Xây dựng ứng dụng Website thương mại điện tử trong lĩnh vực kinh doanh hoa sử dụng nền tảng ASP.NET MVC<br>
            Sinh viên thực hiện: Phạm Việt Uyên.<br>
            Giảng viên hướng dẫn: ThS. Lê Viết Mẫn.<br>
        </p>

    </div>
