@{
    ViewBag.Title = "Liên hệ";
}

<div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-md-0 mb-4">

    <!-- Links -->
    <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p>
        <i class="fas fa-home mr-3"></i> Uyn Uyn FlowerShop
    </p>
    <p>
        <i class="fas fa-envelope mr-3"></i> uyenpham456@gmail.com
    </p>
    <p>
        <i class="fas fa-phone mr-3"></i> + 01 234 567 88
    </p>
    <p>
        <i class="fas fa-print mr-3"></i> + 01 234 567 89
    </p>

</div>